@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap');



body {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #33ff00;
    transition: background-color 0.3s;
    overflow: hiden;
    flex-wrap: wrap;

  }
  
  body:hover {
    background-color: #000000;
  }
  
  header {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    transition: background-color 0.3s;
  }
  
  header:hover {
    background-color: #121212;
  }
  
  header h1 {
    margin: 30px;
    font-size: 36px;
    transition: color 0.3s;
  }
  
  header:hover h1 {
    color: #33ff00;
  }
  
.navbar {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 20px;
}

.icon img {
  width: 20px; 
  height: auto;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li {
  font-size: 24px; 
  font-family: 'Montserrat', sans-serif; 
}

.menu li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out; 
}

.menu li a:hover {
  color: #33ff00;
}
  

  .title {
    padding: 40px 0;
  }
  
  .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #33ff00;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
  }
  .title::after{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: #33ff00;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
  }
  .title:hover::after{
    transform: scaleX(1);
  }

  section{
    height: 100vh;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }
  .container{
    min-height: 100vh;
    overflow-y: scroll;
  }

  #title2 {
    position: relative;
    color: white;
    margin-left: 451px;
    margin-top: -170px;
    font-size: 20px;
  }

#NAME{
  position: relative;
  color: white;
  margin-left: 448px;
  font-size: 50px;
  margin-top: -20px;
}

  h2{
    font-size: 30px;
    margin-top: -150px;
  }
  
  #aboutMe {
    margin-top: -50px;
    flex-direction: column; 
    color: rgba(255, 255, 255, 0.788);
    font-size: 20px;
    max-width: 800px;
    margin-left: 450px; 
  }


button {
  color: white;
  text-decoration: none;
  font-size: 40px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin-top: -40px;
}

button::before {
  margin-left: auto;
}

button::after, button::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #33ff00;
  display: block;
  transition: 0.5s;
}

button:hover::after, button:hover::before {
  width: 100%;
}

.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  margin-top: 10px;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

.btn:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}


.btn-contacto:hover span.email {
  display: inline; /* Muestra el span al pasar el cursor */
}
.btn-contacto span.email {
  display: none; /* Oculta el span por defecto */
}

.cards {
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color:#000000 ;
  gap: 15px;
  }

  .cards .card {
  height: 400px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
  }

  .cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
  }

  .cards .card p.second-text {
  font-size: .7em;
  }

  .cards .card:hover {
  transform: scale(1.1, 1.1);
  }

  .cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
  }

 /* Projects */
 

 .gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  margin-top: 100px;
  margin-left: 10px;
}

.buttonProject {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 0;
  margin: 5px;
  border: none;
  background: none;
  cursor: pointer;

}

.buttonProject img{
  width: 480px;
  height: auto;
  object-fit: cover; 
  object-position: center; 
  transition: opacity 0.5s ease; 
  top: 0;
  left: 0;
}


.buttonProject:hover .overlay {
  opacity: 1;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.94); 
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.7s ease;
  text-align: center;
  
}


.overlay h3 {
  font-size: 50px;
  font-family: 'Bebas Neue', sans-serif; 
  color: #33ff00;
  margin-bottom: 10px;
}
.overlay p {
  font-family: 'DM Sans', sans-serif; 
  color: #33ff00;
  margin-bottom: 10px;
}



/* Footer */


  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    transition: background-color 0.3s;

  }
  
  
  footer:hover {
    background-color: #222;
  }
  
  
/* ICONS */



  #photo {
    display: block;
    width: 750px;
    height: 231px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;

  }

  #Icon{
    height: 28px;
    width: 90px;
    text-align: left;

  }
  .icon{
    text-align: left;
    padding: 0px;
    margin-left: 20px;
    margin-top: 10px;
    position: absolute;
  }
  .line{
    margin-left: 60%;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 5px;
  }
  .line .number{
    color:blueviolet;
}
  .line .text{
    margin-left: 20px;
  }


.btn-contacto {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-contacto img {
  width: 50px;
  height: 50px;
}


#INSTABUTTON{
  margin-bottom: -15px;
  width: 80px; 
  height: 80px;
}


#GMAILBUTTON{
  margin-bottom: -5px;
  margin-left: 10px;
  width: 60px;
  height: 60px;
}


.contenedor {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#contact{
  height: 50vh;
}


.btn-contacto:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s;
}


#fiuba-logo{
  width: 200px;
  height: 200px;
  margin-left: 140px;
  margin-top: 50px;
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

#skill{
  margin-top: -90px;
  align-items: center;
  color:#00ff00;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  text-align: center;
}



.category {
  font-weight: bold;
  font-size: 20px;
  color: #007BFF;
}

.skill-group {
  margin-right: 20px;
  margin-bottom: 20px; 
}

.skill {
  margin-right: 10px;
  font-size: 10px;
}
.openMenu, .closeMenu{
  display: none;
}

#Foto{
  text-align: right;
  margin-left: 1200px;
  display: flex;
  border-radius: 100px;
  width: auto;
  height: 30%;
}

.PhoneTitle{
  display: none;
}

.social-buttons {
  display: none; /* Oculta el div por defecto */
}

/*   Media Query   */


@media (max-width: 500px) {
  #Icon{
    width: 60px;
    height: 20px;
    margin-right: 100px;
  }

  .PhoneTitle{
    display:contents;
    font-size: 18px;
  }
  .overlay h3{
    font-size: 40px;
    margin-top: 10px;
  }
  .overlay p{
    font-size:12px;
  }

  .buttonProject{
    width: 100%;
    height: 40%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin-top: auto;
    border: none;
    background: none;
    cursor: pointer;
  }
  .buttonProject img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    transition: opacity 0.5s ease; 
    top: 0;
    left: 0;
  }


  button {
    color: initial;
    text-decoration: initial;
    font-size: initial;
    border: initial;
    background: initial;
    font-weight: initial;
    font-family: initial;
    margin-top: initial;
  }
  button::before,
  button::after {
    width: initial;
    height: initial;
    background: initial;
    display: initial;
    transition: initial;
  }


  .menu {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 5%;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
    position: absolute;
    flex-direction: column;
    top: -1px;
    margin-right: 2px;
    align-items: flex-end;
    background-color: #000000;
    padding: 20px;
  }
  .menu.visible{
    display: flex;
    flex-wrap: nowrap;
    opacity: 1;
  }
  #photo{
    width: 85%;
    height: 16%;
    margin-top: 200px;
    margin-bottom: -100px;
  }

  .title{
    font-size: 30px;
  }
  #title2{
    font-size: 15px;
    margin-left: 43px;
    position: relative;
    margin-top: 50px;
  }

  #NAME{
    font-size: 35px;
    margin-top: -18px;
    margin-left: 40px;
    position: absolute;
  }


  #fiuba-logo{
    display: none;
  }
  #aboutMe{
    font-size: 15px; 
    margin-left: 40px;
    color: rgba(255, 228, 196, 0.804); 
    margin-top: 50px;  
    margin-right: 60px;

  }
  .cards{
    margin-top: -120px;
  }

  .category{
    font-size: 10px;
  }
  .btn-contacto{
    width: 14.5%;
  }
  
  #twitter{
    margin-left: 3px;
  }

  .contenedor{
    display: flex;
    align-items: center;  
  }
  i{
    font-size: 150%;
  }
  .openMenu{
    background-color: transparent;
    border: none;
    position: absolute;
    display: block;
    margin-left: 330px;
    color: white;
  }
  .closeMenu{
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: white;
    border: none;
    display: block;
    text-align: center;
    margin-top: 4px;
  }

  header{
    padding: 10px;
  }
  #Foto{
    display:none;
  }
  .contenedor{
    display: none;
  }
.cards{
  pointer-events: none;
}


.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.social-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}


.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}

    
 
::-webkit-scrollbar {
  display: none;
}
}

@media (min-width: 1300px)and (max-width: 1400px){
  .buttonProject{
    width: 420px;
    margin-left: 20px;
    height: auto;
  }
}